.carousel-inner > .item > .carousel-img {
  height: auto;
}

.news-heading {
    background: #333;
    position: absolute;
    display: block;
    bottom: 10px;
    font-size: 18px;
    padding: 10px;
    left: 20px;
}

.info {
  background: #333;
  color: #f9f9ff;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .news-img {
    min-height: 310px;
  }
}

@media (min-width: 1200px) {
  .news-img {
    min-height: 200px;
  }
}
